urlap/digitallibrary.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:element name="DigitalLibrary">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="BookName" type="xs:string"></xs:element>
                            <xs:element name="Author" type="xs:string"></xs:element>
                            <xs:element name="ReleaseDate" type="xs:date"></xs:element>
                            <xs:element name="FileFormats" type="formatListType"></xs:element>
                            <xs:element name="Price" type="priceListType"></xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="priceListType">
        <xs:list itemType="priceUnionType"/>
    </xs:simpleType>

    <xs:simpleType name="priceUnionType">
        <xs:union memberTypes="hufType eurType zlotyType"/>
    </xs:simpleType>

    <xs:simpleType name="hufType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]([0-9]{2,4})HUF" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="eurType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}\.[0-9]{2}EUR" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="zlotyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}\.[0-9]{2}ZLOTY" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="formatListType">
        <xs:list itemType="formatType"/>
    </xs:simpleType>

    <xs:simpleType name="formatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pdf"/>
            <xs:enumeration value="epub"/>
            <xs:enumeration value="mobi"/>
            <xs:enumeration value="mp3"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
