xmlpeldak/date.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Date">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Year" type="xs:gYear"></xs:element>
                <xs:element name="Month" type="xs:gMonth">
                    <xs:annotation>
                        <xs:documentation>Provide in MM number format</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Day" type="xs:gDay"></xs:element>
                <xs:element name="YearMonth" type="xs:gYearMonth"></xs:element>
                <xs:element name="MonthDay" type="xs:gMonthDay"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>